.App{
    width: 100%;
}
.AddMember-Container{
    display: flex;
    flex-direction: column; 
}
.subnav{
 height: 5vh;
 background-color:grey;
 color: white;
}
.forgot-container{
    justify-content: center;
    flex-direction: column;

}
.card-body{
    justify-self: center;
}


